# Ignore Python cache files
**/__pycache__/
*.py[cod]

# Ignore compiled files
*.pyo
*.pyd

# Ignore files in posters folder
assets/posters/*
config.py
data/*
app/auth/*
app/sync/*
credentials.json
logs/*
log
token.json
venv/
data/